{% extends 'base.html' %} {% block titulo %} Detalle Peliculas {% endblock %} {%
block encabezado %}{{peli['title']}} {% endblock %} {% block contenido %}
<h3>
  Titulo: {{peli['title']}} <br />
  Descripcion: {{peli['description']}} <br />
  Rating: {{peli['rating']}} <br />
  Año de lanzamiento: {{peli['release_year']}}
</h3>
<h3>Actores de la pelicula</h3>
<ul>
  {% for actor in actores %}
  <li><a href="{{url_for('actor.detalle', id=actor['actor_id'])}}">{{actor['first_name'] }} {{ actor['last_name'] }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
